/* General setup */

html {
    font-size: 10px;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
  }


  @font-face{
    font-family: "fatface";
    src: url(./fatface/fontie-package/AbrilFatface-Regular.woff) format(woff),
    url(./fatface/fontie-package/AbrilFatface-Regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
  }
  @font-face{
    font-family: "libre";
    src: url(./libre/fontie-package/Abhaya\ Libre\ SemiBold.woff2) format(woff2),
    url(./libre/fontie-package/Abhaya\ Libre\ SemiBold.woff) format(woff);
    
    font-weight: normal;
    font-style: normal;
  }

  h1,h2{
    font-family: "fatface",sans-serif;
  }
  p{
    font-family: "libre";
  }